<%- include('partials/header') %>

    <link rel="stylesheet" href="/css/styles.css">


    <main>


        <section class="projects-hero">


            <h1>
                <%= title %>
            </h1>


            <p>
                Discover meaningful service projects where you can volunteer,
                develop new skills, and create a positive impact.
            </p>


        </section>



        <section class="projects-grid">


            <% projects.forEach(project=> { %>


                <div class="project-card">


                    <div class="project-image">
                        🌱
                    </div>


                    <div class="project-content">


                        <h2>
                            <%= project.project_name %>
                        </h2>



                        <p class="project-category">
                            Service Project
                        </p>



                        <p>
                            <%= project.project_description %>
                        </p>



                        <p>
                            Location:
                            <%= project.location %>
                        </p>



                        <p>
                            Date:
                            <%= project.date %>
                        </p>



                        <a href="/organizations" class="project-btn">
                            Join Project
                        </a>



                    </div>


                </div>


                <% }) %>



        </section>


    </main>


    <%- include('partials/footer') %>